/* 5450px para poner en píxeles, 440vh para ponerlo en referencia al viewport height de mi monitor*/

body {
    height: 5450px;
    
    margin: 0;
    background-color: #F4F4F9;
    font-family: "Inter", sans-serif;
}

div {
    border: solid 1px black;
}

header {
    height: 2%;
    background-color: #2F4550;
    color: #F4F4F9;

    align-content: center;
}

.header_container {
    width: 92%;
    height: 40%;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 20px;
    font-weight: 500;
}

#header_titulo {
    width: 100px;
    align-content: center;
}

#header_nav {
    width: 40%;

    display: flex;
    flex-direction: row;
}

.header_nav_item {
    width: 25%;
    height: 100%;

    align-content: center;
}

a.header_nav_link {
    margin: auto;
    
    color: #F4F4F9;
    text-decoration: none;
}

button {
    height: 100%;
    width: 100%;
    border-radius: 10px;

    background-color: #98BBC9;
}

.hero {
    height: 18%;
    align-content: center;
}

.hero_caja {
    width: 90%;
    height: 80%;
    margin: auto;
    position: relative;
}

.hero_imagen {
    width: 100%;
    height: 100%;
    border-radius: 10px;

    position: absolute;
    z-index: -5;

    background-image: url(imagenes/hero.jpg);
    background-size: cover;
    background-position: center;
    opacity: 65%;
}

.hero_titulo {
    width: 80%;
    position: relative;
    z-index: 5;
    margin: auto;
    margin-top: 12%;

    display: flex;
    flex-direction: column;
}

.hero_titulo_elemento {
    text-align: center;
}

h1 {
    font-size: 128px;
    margin: 0;
}

h2#hero_subtitulo {
    font-size: 48px;
    font-weight: normal;
    margin: 0;
}

p {
    font-size: 24px;
    margin-top: 0;
}

strong {
    font-weight: 600;
}

.features {
    height: 28%;
    background-color: #586F7C;
    
    color: #F4F4F9;
    
    position: relative;
    align-content: center;
}

.feat_valueprop {
    height: 45%;
    width: 67%;
    
    position: relative;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.valueprop_titulo {
    height: 8%;
}

.valueprop_imagen {
    height: 65%;
    border-radius: 10px;

    background-image: url(imagenes/stonks.jpg);
    background-size: cover;
    background-position: center;
}

.valueprop_texto {
    height: 16%;
    
    text-align: end;
}

.feat_features {
    height: 35%;
    width: 88%;
    
    position: relative;
    margin: auto;
    margin-top: 3%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feat_tarjeta {
    height: 100%;
    width: 32%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feat_tarjeta_imagen {
    height: 75%;
    width: 100%;
    border-radius: 10px;
}

#feat_img_izq {
    background-image: url(imagenes/movil-scan.jpg);
    background-size: cover;
    background-position: center;
}

#feat_img_cen {
    background-image: url(imagenes/factura-movil-portatil.jpg);
    background-size: cover;
    background-position: center;
}

#feat_img_der {
    background-image: url(imagenes/banco-online.jpg);
    background-size: cover;
    background-position: center;
}

.feat_tarjeta_texto {
    height: 20%;
    width: 100%;
}

.howitworks {
    height: 17%;

    align-content: center;
}

.howitworks_caja {
    height: 75%;
    width: 74%;

    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.howitworks_texto {
    height: 87%;
    width: 44%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.howitworks_texto_titulo {
    width: 100%;
}

.howitworks_texto_lista {
    height: 84%;
    width: 82%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.howitworks_punto_texto {
    color: #828282;
}

.howitworks_imagen {
    height: 100%;
    width: 46%;
    border-radius: 10px;

    background-image: url(imagenes/tablets-conectados.jpg);
    background-size: cover;
    background-position: center;
}

.testimonial {
    height: 10%;
    background-color: #586F7C;

    position: relative;
}

.testimonial_titulo {
    text-align: center;

    position: relative;
    top: 16%;
}

.testimonial_caja {
    height: 42%;
    width: 87%;

    margin: auto;
    position: relative;
    top: 28%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testimonial_tarjeta {
    height: 100%;
    width: 32%;

    align-content: center;

    background-color: #98BBC9;
    border-radius: 10px;
}

.testimonial_content {
    height: 72%;
    width: 88%;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial_content_cita {
    height: 42%;

    font-weight: 500;
}

.testimonial_content_persona {
    height: 29%;

    display: flex;
    flex-direction: row;
    justify-content: start;
}

.testimonial_persona_imagen {
    height: 45px;
    width: 45px;
    border-radius: 100%;
}

.testimonial_persona_nombre {
    margin-left: 16px;
}

p.testimonial_textonombre {
    font-size: 16px;
    font-weight: 500;

    margin-bottom: 7px;
}

.pricing {
    height: 15%;

   align-content: center; 
}

.pricing_caja {
    height: 81%;

    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pricing_opciones {
    height: 65%;
    width: 77%;

    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pricing_tarjeta {
    height: 100%;
    width: 30%;

    background-color: white;
    border-radius: 10px;

    position: relative;
}

#pricing_tarjeta_medio {
    background-color: #586F7C;
    color: white;
}

.pricing_tarjeta_arriba {
    height: 23%;
    width: 33%;

    margin: auto;
    margin-top: 7%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pricing_tarjeta_nombre {
    height: 33%;

    font-size: 24px;
    font-weight: 600;
}

.pricing_tarjeta_precio {
    height: 55%;
    width: 150%;

    text-align: center;
}

.precio_euro {
    vertical-align: super;
    font-size: 24px;
    font-weight: bold;
}

.precio_precio {
    font-size: 48px;
    font-weight: bold;
}

.precio_mes {
    vertical-align: sub;
    font-size: 14px;
}

.pricing_tarjeta_lista {
    width: 85%;

    margin: auto;
}

li {
    margin-bottom: 12px;
}

.pricing_tarjeta_boton {
    height: 9%;
    width: 100%;

    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: absolute;
    top: 83%;
}

.pricing_boton_contratar {
    width: 85%;
    
    font-size: 20px;
}

#pruebagrat_boton {
    background-color: #2F4550;
    color: white;
    font-size: 24px;
}

.pricing_pruebagrat {
    height: 8%;
    width: 27%;
}

h2.titulo_seccion {
    font-size: 48px;
    font-weight: 600;
    margin: 0 auto;
}

h2#features_titulo {
    text-align: center;
    margin: 0 auto;
}

footer {
    height: 10%;
    background-color: black;
    color: white;
}

.footer_container {
    height: 38%;
    width: 90%;

    margin: auto;

    position: relative;
    top: 15%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_izquierda {
    height: 58%;
    width: 11%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_izquierda_elemento {
    height: 40px;
    width: 100%;
}

#footer_titulo {
    font-size: 24px;
}

#footer_redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_redes_icono {
    align-content: center;
}

img.iconos_redes {
    margin: auto;
}

.footer_derecha {
    height: 100%;
    width: 45%;

    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 24%);
    justify-content: space-between;
}

.footer_grid_elemento {
    font-size: 16px;
    font-weight: 500;
}