body {
    margin: 0;
    background-color: #F4F4F9;
    font-family: "Inter", sans-serif;
}

div {
    border: solid 1px black;
}

header {
    height: 10vh;
    background-color: #2F4550;
}

.hero {
    height: 90vh;
    align-content: center;
}

.hero_caja {
    width: 90%;
    height: 80%;
    margin: auto;
    position: relative;
}

.hero_imagen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;

    background-image: url(imagenes/hero.jpg);
    background-size: cover;
    background-position: center;
    opacity: 65%;
}

.hero_titulo {
    width: 80%;
    position: relative;
    z-index: 5;
    margin: auto;
    margin-top: 12%;

    display: flex;
    flex-direction: column;
}

.hero_titulo_elemento {
    text-align: center;
}

h1 {
    font-size: 128px;
    margin: 0;
}

h2#hero_subtitulo {
    font-size: 48px;
    font-weight: normal;
    margin: 0;
}

.features {
    height: 1560px;
    background-color: #586F7C;
}

.howitworks {
    height: 930px;
}

.testimonial {
    height: 550px;
    background-color: #586F7C;
}

.pricing {
    height: 800px;
}

footer {
    height: 480px;
    background-color: black;
}