/* 5450px para poner en píxeles, 496vh para ponerlo en viewport height*/

body {
    height: 5450px;
    
    margin: 0;
    background-color: #F4F4F9;
    font-family: "Inter", sans-serif;
}

header {
    height: 2%;
    background-color: #2F4550;
    color: #F4F4F9;

    align-content: center;

    @media (width < 769px) { height: 1%; }
}

.header_container {
    width: 92%;
    height: 50%;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 20px;
    font-weight: 500;

    @media (width < 769px) {
        font-size: 15px;
    }
}

#header_titulo {
    width: 100px;
    align-content: center;
}

#header_nav {
    width: 30%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_nav_item {
    width: 20%;
    height: 100%;

    align-content: center;
    text-align: center;

    @media (width < 769px) {
        display: none;
    }
}

a.header_nav_link {
    margin: auto;
    
    color: #F4F4F9;
    text-decoration: none;
}

#header_item_boton {
    width: 22%;

    @media (width < 769px) {
        width: 100%;
        display: block;
    }
}

#header_boton {
    font-size: 16px;
    font-weight: 500;

    @media (width < 769px) {
        font-size: 12px;
    }
}

button {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;

    background-color: #98BBC9;

    transition: background-color 0.5s
}

button:hover {
    background-color: #F4F4F9;
}

.hero {
    height: 18%;
    align-content: center;
    position: relative;

    @media (width < 769px) { height: 80vh; max-height: 5%;}
}

.hero_caja {
    width: 90%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (width < 769px) { min-height: 0%; max-height: 80%; }
}

.hero_imagen {
    width: 100%;
    height: 100%;
    border-radius: 10px;

    position: absolute;
    z-index: -5;

    background-image: url(imagenes/hero2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 65%;
}

.hero_titulo {
    width: 80%;
    position: relative;
    z-index: 5;
    margin: auto;
    margin-top: 12%;

    display: flex;
    flex-direction: column;

    text-shadow: 0 0 3px white;

    @media (width < 769px) { 
        margin: auto;
        height: 100%; 
        justify-content: center; 
        align-items: center; 
    }
}

.hero_titulo_elemento {
    text-align: center;
}

h1 {
    font-size: 128px;
    margin: 0;

    @media (width < 769px) { font-size: 64px; }
}

h2#hero_subtitulo {
    font-size: 48px;
    font-weight: normal;
    margin: 0;

    @media (width < 769px) { font-size: 24px; }
}

p {
    font-size: 24px;
    margin-top: 0;

    @media (width < 769px) { font-size: 16px; }
}

strong {
    font-weight: 600;
}

.features {
    height: 28%;
    background-color: rgb(88, 111, 124);
    
    color: #F4F4F9;
    
    position: relative;
    align-content: center;
}

.feat_valueprop {
    height: 45%;
    width: 67%;
    
    position: relative;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (width < 769px) {
        height: 30%;
        width: 90%;

        margin-bottom: 5%;
    }
}

.valueprop_titulo {
    height: 8%;
}

.valueprop_imagen {
    height: 65%;
    border-radius: 10px;

    background-image: url(imagenes/stonks2.jpg);
    background-size: cover;
    background-position: center;

    @media (width < 769px) {
        position: relative;
        top: -15%;

        opacity: 70%;

        anchor-name: --valueprop_imagen;
    }
}

.valueprop_texto {
    height: 16%;
    
    text-align: end;

    @media (width < 769px) {
        height: 40%;
        width: 100%;
        position: absolute;        
        position-anchor: --valueprop_imagen;
        align-self: anchor-center;

        align-content: center;
        text-align: center;

        text-shadow: 1px 1px 2px black;
    }
}

.feat_features {
    height: 35%;
    width: 88%;
    
    position: relative;
    margin: auto;
    margin-top: 3%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (width < 769px) {
        height: 65%;
        width: 80%;
        
        flex-direction: column;
    }
}

.feat_tarjeta {
    height: 100%;
    width: 32%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (width < 769px) { 
        width: 100%; 
        margin-bottom: 100px;
    }
}

.feat_tarjeta_imagen {
    height: 75%;
    width: 100%;
    border-radius: 10px;
}

#feat_img_izq {
    background-image: url(imagenes/movil-scan.jpg);
    background-size: cover;
    background-position: center;
}

#feat_img_cen {
    background-image: url(imagenes/factura-movil-portatil.jpg);
    background-size: cover;
    background-position: center;
}

#feat_img_der {
    background-image: url(imagenes/banca-online.jpg);
    background-size: cover;
    background-position: center;
}

.feat_tarjeta_texto {
    height: 20%;
    width: 100%;
}

.howitworks {
    height: 17%;

    align-content: center;

    @media (width < 769px) {
        max-height: 15%;
    }
}

.howitworks_caja {
    height: 75%;
    width: 74%;

    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (width < 769px) {
        height: 90%;
        width: 90%;

        flex-direction: column-reverse;
    }
}

.howitworks_texto {
    height: 87%;
    width: 44%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (width < 769px) {
        height: 70%;
        width: 100%;
    }
}

.howitworks_texto_titulo {
    width: 100%;
}

.howitworks_texto_lista {
    height: 84%;
    width: 82%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (width < 769px) {
        height: 88%;
    }
}

.howitworks_punto_texto {
    color: #828282;
}

.howitworks_imagen {
    height: 100%;
    width: 46%;
    border-radius: 10px;

    background-image: url(imagenes/dispositivos.jpg);
    background-size: cover;
    background-position: center;

    @media (width < 769px) {
        max-height: 25%;
        width: 90%;
    }
}

.testimonial {
    height: 10%;
    background-color: #586F7C;

    position: relative;
}

.testimonial_titulo {
    text-align: center;

    position: relative;
    top: 16%;
    
    @media (width < 769px) { top: 5%; }
}

.testimonial_caja {
    height: 42%;
    width: 87%;

    margin: auto;
    position: relative;
    top: 28%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    @media (width < 769px) {
        height: 75%;
        top: 8%;
        
        flex-direction: column;
    }
}

.testimonial_tarjeta {
    height: 100%;
    width: 32%;

    align-content: center;

    background-color: #98BBC9;
    border-radius: 10px;

    @media (width < 769px) {
        height: 28%;
        width: 100%;
    }
}

.testimonial_content {
    height: 72%;
    width: 88%;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (width < 769px) {
        height: 65%;
    }
}

.testimonial_content_cita {
    height: 42%;

    font-weight: 500;
}

.testimonial_content_persona {
    height: 29%;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.testimonial_persona_imagen {
    height: 45px;
    width: 45px;
    border-radius: 100%;

    @media (width < 769px) {
        height: 30px;
        width: 30px;
    }
}

.testimonial_persona_nombre {
    margin-left: 16px;
    align-content: center;
}

p.testimonial_textonombre {
    font-size: 16px;
    font-weight: 500;

    margin: 0;
}

@media (width < 769px) {
    p.testimonial_textocita { font-size: 12px }
    p.testimonial_textonombre { font-size: 12px }
}

.pricing {
   height: 15%;

   align-content: center; 

   @media (width < 769px) {
    height: 20%;
   }
}

.pricing_caja {
    height: 81%;
    
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (width < 769px) {
        height: 90%;
    }
}

.pricing_titulo {
    text-align: center;
}

.pricing_opciones {
    height: 65%;
    width: 77%;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (width < 769px) {
        flex-direction: column;

        height: 80%;
    }
}

.pricing_tarjeta {
    height: 100%;
    width: 30%;

    background-color: white;
    border-radius: 10px;

    position: relative;

    @media (width < 769px) {
        height: 30%;
        width: 100%;
    }
}

#pricing_tarjeta_medio {
    background-color: #586F7C;
    color: white;
}

.pricing_tarjeta_arriba {
    height: 23%;
    width: 100%;

    margin: auto;
    margin-top: 7%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (width < 769px) {
        width: 80%;

        margin-top: 3%;
        
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.pricing_tarjeta_nombre {
    height: 33%;

    font-size: 24px;
    font-weight: 600;

    @media (width < 769px) {
        height: 55%;

        font-size: 18px;
    }
}

.pricing_tarjeta_precio {
    height: 55%;
    margin: auto;

    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (width < 769px) {
        margin: 0;
        margin-right: 6%;
    }
}

.precio_precio {
    font-size: 48px;
    font-weight: bold;
    
    anchor-name: --cifra_precio
}

.precio_euro {
    font-size: 24px;
    font-weight: bold;

    position: absolute;
    position-anchor: --cifra_precio;
    top: anchor(top);
    right: anchor(left);
}

.precio_mes {
    font-size: 14px;

    position: absolute;
    position-anchor: --cifra_precio;
    bottom: anchor(bottom);
    left: anchor(right);
}

@media (width < 769px) {
    .precio_euro { font-size: 12px; }
    .precio_precio { font-size: 24px}
    .precio_mes { font-size: 7px}
}

.pricing_tarjeta_lista {
    width: 85%;

    margin: auto;

    @media (width < 769px) {
        width: 95%;

        position: relative;
        top: -7%;
    }
}

li {
    margin-bottom: 12px;

    @media (width < 769px){
        font-size: 14px;
    }
}

.pricing_tarjeta_boton {
    height: 9%;
    width: 100%;

    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: absolute;
    top: 83%;

    @media (width < 769px) {
        height: 14%;

        top: 78%;
    }
}

.pricing_boton_contratar {
    width: 85%;
    
    font-size: 20px;
}

#pruebagrat_boton {
    background-color: #2F4550;
    color: white;
    font-size: 24px;

    transition: background-color 0.5s, color 0.5s;

    @media (width < 769px) {
        font-size: 18px;
    }
}

#pruebagrat_boton:hover {
    background-color: #98BBC9;
    color: black;
}

.pricing_pruebagrat {
    height: 8%;
    width: 27%;

    @media (width < 769px) {
        height: 6%;
        width: 90%;
    }
}

h2.titulo_seccion {
    font-size: 48px;
    font-weight: 600;
    margin: 0 auto;

    @media (width < 769px) {
        font-size: 24px;
    }
}

h2#features_titulo {
    text-align: center;
    margin: 0 auto;
}

footer {
    height: 10%;
    background-color: black;
    color: white;

    @media (width < 769px) {
        height: 21%;
    }
}

.footer_container {
    height: 38%;
    width: 90%;

    margin: auto;

    position: relative;
    top: 15%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (width < 769px) {
        height: 40%;
        width: 75%;
        
        top: 5%;

        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.footer_izquierda {
    height: 58%;
    width: 11%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (width < 769px) {
        height: 25%;
        width: 100%;

        align-items: center;
    }
}

.footer_izquierda_elemento {
    height: 40px;
    width: 100%;
}

#footer_titulo {
    font-size: 24px;

    @media (width < 769px) {
        font-size: 36px;
    }
}

#footer_redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (width < 769px) {
        width: 50%;
    }
}

.footer_redes_icono {
    align-content: center;
}

img.iconos_redes {
    margin: auto;
}

.footer_derecha {
    height: 100%;
    width: 45%;

    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 24%);
    justify-content: space-between;

    @media (width < 769px) {
        height: 60%;
        width: 100%;
    }
}

.footer_grid_elemento {
    font-size: 16px;
    font-weight: 500;
}

a.footer_link {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
}