body {
    height: 5450px;
    
    margin: 0;
    background-color: #F4F4F9;
    font-family: "Inter", sans-serif;
}

div {
    border: solid 1px black;
}

header {
    height: 2%;
    background-color: #2F4550;
    color: #F4F4F9;

    align-content: center;
}

.header_container {
    width: 90%;
    height: 50%;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header_titulo {
    width: 100px;
    align-content: center;
}

#header_nav {
    width: 40%;

    display: flex;
    flex-direction: row;
}

.header_nav_item {
    width: 25%;
    height: 100%;

    align-content: center;
}

a.header_nav_link {
    margin: auto;
    
    color: #F4F4F9;
    text-decoration: none;
}

.hero {
    height: 18%;
    align-content: center;
}

.hero_caja {
    width: 90%;
    height: 80%;
    margin: auto;
    position: relative;
}

.hero_imagen {
    width: 100%;
    height: 100%;
    border-radius: 10px;

    position: absolute;
    z-index: -5;

    background-image: url(imagenes/hero.jpg);
    background-size: cover;
    background-position: center;
    opacity: 65%;
}

.hero_titulo {
    width: 80%;
    position: relative;
    z-index: 5;
    margin: auto;
    margin-top: 12%;

    display: flex;
    flex-direction: column;
}

.hero_titulo_elemento {
    text-align: center;
}

h1 {
    font-size: 128px;
    margin: 0;
}

h2#hero_subtitulo {
    font-size: 48px;
    font-weight: normal;
    margin: 0;
}

p {
    font-size: 24px;
    margin-top: 0;
}

strong {
    font-weight: 600;
}

.features {
    height: 28%;
    background-color: #586F7C;
    
    color: #F4F4F9;
    
    position: relative;
    align-content: center;
}

.feat_valueprop {
    height: 45%;
    width: 67%;
    
    position: relative;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.valueprop_titulo {
    height: 8%;
}

.valueprop_imagen {
    height: 65%;
    border-radius: 10px;

    background-image: url(imagenes/stonks.jpg);
    background-size: cover;
    background-position: center;
}

.valueprop_texto {
    height: 16%;
    
    text-align: end;
}

.feat_features {
    height: 35%;
    width: 88%;
    
    position: relative;
    margin: auto;
    margin-top: 3%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feat_tarjeta {
    height: 100%;
    width: 32%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feat_tarjeta_imagen {
    height: 75%;
    width: 100%;
    border-radius: 10px;
}

#feat_img_izq {
    background-image: url(imagenes/movil-scan.jpg);
    background-size: cover;
    background-position: center;
}

#feat_img_cen {
    background-image: url(imagenes/factura-movil-portatil.jpg);
    background-size: cover;
    background-position: center;
}

#feat_img_der {
    background-image: url(imagenes/banco-online.jpg);
    background-size: cover;
    background-position: center;
}

.feat_tarjeta_texto {
    height: 20%;
    width: 100%;
}

.howitworks {
    height: 17%;

    align-content: center;
}

.howitworks_caja {
    height: 75%;
    width: 74%;

    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.howitworks_texto {
    height: 87%;
    width: 44%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.howitworks_texto_titulo {
    width: 100%;
}

.howitworks_texto_lista {
    height: 84%;
    width: 82%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.howitworks_punto_texto {
    color: #828282;
}

.howitworks_imagen {
    height: 100%;
    width: 46%;
    border-radius: 10px;

    background-image: url(imagenes/tablets-conectados.jpg);
    background-size: cover;
    background-position: center;
}

.testimonial {
    height: 550px;
    background-color: #586F7C;
}

.pricing {
    height: 800px;
}

h2.titulo_seccion {
    font-size: 48px;
    font-weight: 600;
    margin: 0 auto;
}

h2#features_titulo {
    text-align: center;
    margin: 0 auto;
}

footer {
    height: 480px;
    background-color: black;
}